.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/._*
.env
.env.*
build/
coverage/
*.log
*.iml
/*.png
/window.xml
supabase/.temp/
admin-dashboard/config.js
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
android/local.properties
android/key.properties
android/upload-keystore.jks
