<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcc4Za3rKjucaKsH3frQKXjwhAucWMoA0</string>
	<key>GCM_SENDER_ID</key>
	<string>693738640170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.downsviewsda.downsviewSda</string>
	<key>PROJECT_ID</key>
	<string>downsviewapp</string>
	<key>STORAGE_BUCKET</key>
	<string>downsviewapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693738640170:ios:99388ffa5d99a6e1f44453</string>
</dict>
</plist>